{% extends "layouts/layout.html" %}

{% block CONTENT %}
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Partidas en juego</h3>
            </div>
            <div class="panel-body">
                <div class="panel-group" id="accordion">
                {% for element in elements %}
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{element.name}}">
                          {{element.name}}
                        </a>
                      </h4>
                         <button type="button" class="btn btn-primary" onclick="entrarPartida('{{element.name}}')">Jugar</button>
                    </div>
                    <div id="collapse{{element.name}}" class="panel-collapse collapse">
                      <div class="panel-body">
                         jugador bla bla bla...

                      </div>
                    </div>
                  </div>
                {% endfor %}
                </div>    
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-right">
        <button class="btn btn-primary " data-toggle="modal" data-target=".bs-example-modal-lg" >Nueva Partida</button>
        <div id = 'myModal' class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <h1 class"text-center ">Nueva Partida, error linea</h1>
                  <input id="nombreNuevaPartida" value=""/>
                  <input type="button" value ="crear" onclick="crearPartida()"/>
                </div>
              </div>
        </div>
    </div>
</div>
<script type="text/javascript">
  	var id = "{{id}}";  
	function crearPartida(){
    $('#myModal').modal('hide');
		socket.emit("data", '{"command": "MATCH_LOOKUP","arguments": {"id": "'+id+'","matchName": "'+$('#nombreNuevaPartida').val()+'", "advName":" ", "timeout":" "}}');
	}
	function entrarPartida(nombre){

		socket.emit("data", '{"command": "MATCH_LOOKUP","arguments": {"id": "'+id+'","matchName": "'+nombre+'", "advName":" ", "timeout":" "}}')
	}

</script>
{% endblock %}
