
{% extends "layouts/layout.html" %}

{% block CONTENT %}

<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Listado de partidas</h3>
            </div>
            <div class="panel-body">
			    <ul class="list-unstyled">
			    	<li><a href="/verPartida/Jugador1/partida1">partida 1</a></li>
			    </ul>
			</div>
		</div>
	</div>
</div>

{% endblock %}


{% block SCRIPT %}
<script type="text/javascript">

</script>
{% endblock %}