
{% extends "layouts/layout.html" %}

{% block CONTENT %}

<div class="wrapper text-center">
    <div class="container">
    	<h1>{{nombre}}</h1>
    	<h4 id= "msnje"> </h4>
        <div id="tablero" class="text-center"></div>
    </div>
</div>

{% endblock %}

{% block SCRIPT %}
<script type="text/javascript">
	window.onload = function() {
	    socket.emit("data", '{"command": "ROUND_START_ACK","arguments": {"id": "'+id+'"}}');
	    inicio = true;
	    var mensaje = document.getElementById("msnje"); 
		mensaje.innerHTML = "Espere su turno";
	}
	var id = "{{id}}";
	var color; // true representa player1 y color blanco 
	var inicio = {{inicio}}; //indica si el juego ya partio
	var turno = true;   //indica si corresponde comenzar el juego
	var tablero = new Tablero();
    tablero.crear_tablero_html( 'tablero' ,  {{tamTablero}} , new Array({{squares}}) );
    
    function colocarFicha(fila,col,colorDeFicha){
    	// colorDeFicha true es blanco
    	// colorDeFicha false es negro
    	content = document.getElementById("tablero_id_"+fil+col); 
		var div = document.createElement("div");
		if(color) div.className = "circulo_blanco";
		else div.className = "circulo_negro";
        content.appendChild(div);
        content.setAttribute('onclick',null);
    }
    function jugarFicha(fil,col){
    	if(inicio){
	    	if(turno){
	    		//turno = false;
				content = document.getElementById("tablero_id_"+fil+col); 
				colocarFicha(fil,col,color);
				turn = false;
	    	}else{
	    		var mensaje = document.getElementById("msnje"); 
				mensaje.innerHTML = "Debes esperar tu turno";
	    	}
    	}else {
    		var mensaje = document.getElementById("msnje"); 
			mensaje.innerHTML = "El juego comenzará pronto";
		}
	}
    function partida(data){
    	console.log(data);
    	switch(data.move){
    		case 'FIRST':
    			this.color = true;
    			turno = true;
    			var mensaje = document.getElementById("msnje"); 
				mensaje.innerHTML = "SU TURNO";
    			break;
    		case 'WAIT':
    			this.color = false;
    			turno = false;
    			var mensaje = document.getElementById("msnje"); 
				mensaje.innerHTML = "ESPERE SU TURNO";
    		case 'PUT':
    			jugarFicha(data.xPos, data.yPos, !turno);
    			turno = true;
    			break;
    		case 'PASS':
    			alert('no implementado');
    			break;
    		case 'default':
    			alert('no implementado');
    	}
    }
</script>
{% endblock %}