
{% extends "layouts/layout.html" %}

{% block CONTENT %}

<div class="wrapper text-center">
    <div class="container">
    	<h1>{{nombre}}</h1>
    	<h4 id= "msnje"> </h4>
        <div id="tablero" class="text-center"></div>
    </div>
</div>

{% endblock %}

{% block SCRIPT %}
<script type="text/javascript">
    console.log('marca ');
	window.onload = function() {
	    socket.emit("data", '{"command": "ROUND_START_ACK","arguments": {"id": "'+id+'"}}');
	    inicio = true;
	    var mensaje = document.getElementById("msnje"); 
		mensaje.innerHTML = "COMENZANDO PARTIDA";
	}
	var id = "{{id}}";
    this.fin = true;
	this.color; // true representa player1 y color blanco 
	this.inicio; //indica si el juego ya partio
	this.turno;   //indica si corresponde comenzar el juego
	this.tablero = new Tablero();
    tablero.crear_tablero_html( 'tablero' ,  {{tamTablero}} , new Array({{squares}}) );
    
    function colocarFicha(fila,columna,colorDeFicha){
    	// colorDeFicha true es blanco
    	// colorDeFicha false es negro
    	content = document.getElementById("tablero_id_"+fila+columna); 
		var div = document.createElement("div");
		if(colorDeFicha) div.className = "circulo_blanco";
		else div.className = "circulo_negro";
        content.appendChild(div);
        content.setAttribute('onclick',null);
    }
    function finJuego(data){
        fin = false;
        if(data.valid){
            colocarFicha(data.xPos, data.yPos, !color );
        }
        switch(data.cause){
            case 'VICTORY': 
                alert('JUEGO TERMINADO. FELICIDADES, GANASTE'); 
                break;
            case 'DEFEAT': 
                alert('JUEGO TERMINADO. SIGUE PRACTICANDO, PERDISTE');
                break;
            case 'DRAW': 
                alert('JUEGO TERMINADO. HA SIDO UN EMPATE');
                break;
            default: 
                alert('juego finalizado, cause desconocida ');
                break;
        }
        if(data.nextGame) location.href = '/juegos/{{nombre}}';
        else location.href = '/juegos';
    }

    function jugarFicha(fil,col){
        if(fin){
        	if(inicio){
    	    	if(turno){
    	    		//turno = false;
    				content = document.getElementById(("tablero_id_"+ fil + col)); 
                    console.log(content);
    				colocarFicha( fil, col, color);
    				turno = false;
                    aceptaTurno = false;
                //    socket.emit("data", '{"command": "PUT","arguments": {"id": "'+id+'", "xPos": '+fil+',
       // "yPos": '+col+'}}');
        socket.emit("data", '{"command": "PUT","arguments": {"id": "'+id+'","xPos": '+fil+',"yPos":'+col+' }}');

    	    	}else{
    	    		var mensaje = document.getElementById("msnje"); 
    				mensaje.innerHTML = "Debes esperar tu turno";
    	    	}
        	}else {
        		
    		}
        }
        else{
            var mensaje = document.getElementById("msnje"); 
            mensaje.innerHTML = "FIN DEL JUEGO";
        }
	}

    function partida(data2){
        data = data2.arguments.advMove;
    	switch(data.move){
    		case 'FIRST':
    			color = true;
    			turno = true;
    			var mensaje = document.getElementById("msnje"); 
				mensaje.innerHTML = "SU TURNO";
    			break;
    		case 'WAIT':
    			color = false;
    			turno = false;
    			var mensaje = document.getElementById("msnje"); 
				mensaje.innerHTML = "ESPERE SU TURNO";
                break;
    		case 'PUT':
                if(data2.arguments.yourTurn){
                    colocarFicha(data.xPos, data.yPos, !color);
                    var mensaje = document.getElementById("msnje"); 
                    mensaje.innerHTML = "TU TURNO";
                    turno = true;
                }
                else{
                    if(aceptaTurno){
                        aceptaTurno = true;
                        alert('error en jugada, no implementado');
                        var mensaje = document.getElementById("msnje"); 
                        mensaje.innerHTML = "ESPERE SU TURNO";
                    }
                    else{
                        var mensaje = document.getElementById("msnje"); 
                        mensaje.innerHTML = "ESPERE SU TURNO";
                        turn = false;
                    }
                }
    			break;
    		case 'PASS':
    			alert('no implementado');
    			break;
    		case 'default':
    			alert('no implementado');
    	}
    }
</script>
{% endblock %}